player-connection-mode=Listen
player-connection-guid=205854343
player-connection-debug=0
player-connection-project-name=dungeon crawler
player-connection-wait-timeout=-1
player-connection-ip=192.168.0.242
profiler-enable=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
profiler-enable-deep-profiling-support=1
